<div class="analysis">
  <h1>Analysis</h1>

  <div class="panel memories">
    <h2>
      All Memories ({{memories.length}})
    </h2>

    {{#each memory in controller}}
      {{view Addemotion.MemoryView memory=memory}}
    {{/each}}
  </div>
</div>
