<div class="navbar navbar-default">
  <div class="navbar-inner">
    <div class="container">
      {{#link-to 'dashboard'}}Dashboard{{/link-to}}
    </div>
    <div class="container">
      {{#link-to 'analysis'}}Analysis{{/link-to}}
    </div>
    <div class="container">
      <a {{action 'logout'}}>Logout</a>
    </div>
  </div>
</div>

{{outlet}}
