<div class="login">
  <div>
    Email:
    {{input valueBinding='email'}}
  </div>
  <div>
    Password:
    {{input type="password" valueBinding='password'}}
  </div>
  <button type="button" class="btn button-default" {{action
    'submit'}}>Submit</button>

  <button type="button" class="btn button-default" {{action
    'create'}}>Create</button>
</div>


