<h4>
  Memory:
</h4>

<div>
  Mood: {{view.mood}}
</div>
<div>
  Stress: {{view.stress}}
</div>
{{#unless view.explanationEmpty}}
  <div>
    Explanation: {{view.explanation}}
  </div>
{{/unless}}
<div>
  Creation date: {{view.createdAt}}
</div>


