<div class="memory">
  <div class="fact">
    <span class="text">Mood:</span>
    <span class="value">{{view.mood}}</span> & <span class="value">{{view.stress}}</span>
  </div>
  {{#unless view.explanationEmpty}}
    <div class="fact">
      <span class="text">What Happened:</span>
      <span class="value">{{view.explanation}}</span>
    </div>
  {{/unless}}
  <div class="fact">
    <span class="text">Creation date:</span>
    <span class="value">{{view.createdAt}}</span>
  </div>
</div>

