.dashboard {
  .btn {
    font-size: 60px;
    line-height: 100px;
    width: 100px;
    margin: 0 10px 10px 10px;
  } 
}

.emotion {
  float: left;
  text-align: center;
  color: #888;
  font-size: 8px;
}

